@import 'homeStyle2.css';

.home-container {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 160px;
}

.main-title {
  font-size: 72px;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.2;
  position: relative;
}

.title-line {
  display: flex;
}

.first-line {
  justify-content: flex-start;
  margin-right: 350px;
}

.second-line {
  justify-content: flex-end;
  margin-left: 350px;
}

.title-word {
  margin: 0 5px;
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.title-word.visible {
  opacity: 1;
  transform: translateY(0);
}

.description {
  font-size: 24px;
  line-height: 1.4;
  margin: 10px 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  max-width: 700px;
  text-align: center;
}

.description.visible {
  opacity: 1;
  transform: translateY(0);
}

.cta-button {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.cta-button.visible {
  opacity: 1;
  transform: translateY(0);
}

.third-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 40px 20px;
}