/* src/styles/topbarStyle.css */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-left: 60px;
  padding-right: 60px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu .menu-item {
  position: relative;
  margin: 0 20px;
}

.nav-menu a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.nav-menu .dropdown {
  display: none;
  position: absolute;
  background-color: #f3f1f1;
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-menu .menu-item:hover .dropdown {
  display: block;
}

.nav-menu .dropdown a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-menu .dropdown a:hover {
  background-color: #f1f1f1;
}

.account-icon {
  margin-left: 20px;
}

/* Logo styles */
#logo-container {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  display: flex;
  align-items: center;
  transition: transform 0.4s;
}

#slash, #slash-text, #moving-s, #lot-text {
  display: inline-block;
}

.logo-link {
  color: inherit; /* Mantiene il colore del testo del genitore */
  text-decoration: none; /* Rimuove la sottolineatura */
}

#slash-text, #lot-text {
  transition: opacity 0.4s, transform 0.4s;
}

#moving-s {
  transition: transform 0.6s;
}

.closed #slash-text, .closed #lot-text {
  opacity: 0;
  transform: translateX(-5px);
}

.closed #moving-s {
  transform: translateX(-78px);
}